@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@keyframes rolldown {
    0% {
        transform: translateY(-200%) translateX(-50%);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}


@keyframes rollup {
    0% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
    100% {
        transform: translateY(-200%) translateX(-50%);
        opacity: 0;
    }
}